:root {
    --text-white: #f5eddb;
    --text-base: #241c23;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--text-base);
    background-image: url('../images/noise.png');
    background-size: 200px 200px;
}

.navbar {
    background-color: var(--text-base);
    background-image: url('../images/noise.png');
    background-size: 200px 200px;
}

.nav-link:hover {
    color: var(--text-white);
}

.text-bold {
    font-weight: bold;
}

.text-red {
    color: var(--text-red) !important;
}

.text-white {
    color: var(--text-white) !important;
}

.container {
    max-width: 1350px;
}

.flag-xs {
    width: 20px;
    border: 1px solid var(--text-base);
    margin: 0 5px;
}

.dropdown-menu {
    background-color: var(--text-white);
    border-radius: 0rem;
}

.dropdown-menu > li :hover {
    background-color: #726970;
}

a.dropdown-item {
    color: var(--text-base) !important;
}

h1 {
    padding-bottom: 7rem;
}

/* Wiggling flags */

.flag {
    width: 50%; 
}

.flag-col {
    padding-bottom: 7rem;
    position: relative;
}

.flag:hover {
    cursor: pointer;
    animation: shake 7s cubic-bezier(.36,.07,.39,.97) both;
    transform: translate3d(0, 0, 0);
    box-shadow: 0px 0px 40px rgb(245 237 219 / 80%);
    transition: 0.3s;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d( 0, 5px, 0);
    }

    20%, 80% {
        transform: translate3d(0, 2px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(0, 5px, 0);
    }

    40%, 60% {
        transform: translate3d(0, -2px, 0);
    }
}

.notif-dot {
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 4px;
    top: -10%;
    left: 75%;
    color: var(--text-white);
    font-weight: bold;
    font-size: 13px;
    background: #3e303c;
}