<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrainTheLanguage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TrainTheLanguage.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand py-4">
            <div class="container-fluid">
                    <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item px-3">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><img class navbar-img src="~/Images/home.svg"></a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white px-4">2023 - Irena Khadayeva
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
