@{
    ViewData["Title"] = "Train The Language";
}

<div class="text-left text-white">
    <div class="container my-5">
        <div class="row">
            <div class="offset-xl-0 col-xl-6 offset-sm-1 col-sm-11">
                <h1 class="display-2 text-bold">
                    <div>A DIFFERENT</div>
                    <div>LANGUAGE</div>
                    <div>IS A DIFFERENT</div>
                    <div>VISION OF LIFE.</div>
                </h1>
            </div>            
            <div id="en" class="flag-col col-xl-2 col-sm-4 align-self-center text-center"><a asp-controller="Card" asp-action="Index"><img class="flag" src="~/Images/eng.svg" /></a><div class="notif-dot">12</div></div>
            <div id="pl" class="flag-col col-xl-2 col-sm-4 align-self-center text-center"><a asp-controller="Card" asp-action="Index"><img class="flag" src="~/Images/pol.svg" /></a><div class="notif-dot">5</div></div>
            <div id="de" class="flag-col col-xl-2 col-sm-4 align-self-center text-center"><a asp-controller="Card" asp-action="Index"><img class="flag" src="~/Images/deu.svg" /></a><div class="notif-dot">963</div></div>
        </div>
    </div>
</div>
